#heading {
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  margin: 0px;
}
body {
  margin: 0px;
}
#grid {
  display:grid;
  grid-template-columns: 200px 1fr;
}
#contents {
  border-right: 1px gray solid;
  padding: 5px;
  text-align: center;
}
#videos {
    padding: 10px;
    padding-left: 25px;
}
a.content {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#topic {
  display: block;
  border: 5px solid gray;
  text-decoration: none;
  color: black;
}

a.main {
  text-decoration: none;
  color: black;

}
